# Домен, на который nginx-proxy проксирует трафик.
VIRTUAL_HOST=bigvibecourse.freedynamicdns.net

# Домен(ы) для Let's Encrypt (через запятую).
LETSENCRYPT_HOST=bigvibecourse.freedynamicdns.net

# Email для регистрации в Let's Encrypt (используется для уведомлений
# об истечении сертификата).
LETSENCRYPT_EMAIL=admin@bigvibecourse.freedynamicdns.net
